@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}


.hideDrop {
    height: auto;
}
#Duties {
    scroll-margin: 15rem;
}

#Aims{
    scroll-margin: 15rem;
}